* {
    margin: 0px;
    padding: 0px;
}

.navBar {
    display: grid;
    grid-template-columns: 10% 80%;
    align-items: center;
}

.logo img {
    overflow: hidden;
    /* position: fixed; */
    top: 0;
    margin: 25px;
    width: 180px;
    height: 85px;
    box-shadow: 0 0 5px grey;
    margin-left: 20px;
}

.navBar ul {
    height: 90px;
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
    align-items: center;
    color: White;
    background-color: black;
    text-align: end;
    padding: 22px;
    text-decoration: none;
    font-size: 14px;
    margin-left: 300px;
}

.navBar ul a {
    color: #fff;
    padding-top: 10px;
    line-height: 1.2rem;
    text-decoration: none;
}

.navBar ul a:hover {
    color: #ee8e42;
    border-bottom: 2px solid #ee8e42;
    transition: 0.5s ease-in-out;
}

.bannerBG img {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: black;
    height: 130px;
    /* position: sticky; */

}

@media (max-width:925px) {
    .navBar ul {
        display: none;
    }
}